# Astro spectroscopy webb app

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
# Load the dataset
df_galaxies = pd.read_csv(
    "../sdss_galaxies.csv"
)

In [3]:
df_galaxies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140035 entries, 0 to 140034
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   plate               140035 non-null  int64
 1   fiberid             140035 non-null  int64
 2   mjd                 140035 non-null  int64
 3   z                   140035 non-null  float64
 4   zwarning            140035 non-null  int64
 5   h_alpha_flux        140035 non-null  float64
 6   h_alpha_flux_err    140035 non-null  float64
 7   h_beta_flux         140035 non-null  float64
 8   h_beta_flux_err     140035 non-null  float64
 9   nii_6584_flux       140035 non-null  float64
 10  nii_6584_flux_err   140035 non-null  float64
 11  oiii_5007_flux      140035 non-null  float64
 12  oiii_5007_flux_err  140035 non-null  float64
dtypes: float64(9), int64(4)
memory usage: 13.9 MB

In [4]:
df_galaxies.columns

Index(['plate', 'fiberid', 'mjd', 'z', 'zwarning', 'h_alpha_flux',
       'h_alpha_flux_err', 'h_beta_flux', 'h_beta_flux_err', 'nii_6584_flux',
       'nii_6584_flux_err', 'oiii_5007_flux', 'oiii_5007_flux_err'],
      dtype='object')

In [5]:
df_galaxies.head()

,plate,fiberid,mjd,z,zwarning,h_alpha_flux,h_alpha_flux_err,h_beta_flux,h_beta_flux_err,nii_6584_flux,nii_6584_flux_err,oiii_5007_flux,oiii_5007_flux_err
0,2115,42,53535,0.057162,0,119.6482,2.363719,33.81229,2.261494,35.45956,1.643917,10.77501,2.107138
1,906,315,52368,0.046144,0,151.8282,3.690749,25.73299,2.673304,66.15668,2.617815,17.35538,2.424217
2,2022,473,53827,0.040476,0,1454.7450,13.445210,323.17360,5.726914,576.86880,6.294590,98.13634,4.082010
3,2031,600,53848,0.034786,0,256.8179,3.622716,54.58832,2.016292,85.42187,2.145393,26.48615,1.869704
4,2016,477,53799,0.068709,0,183.2177,3.994831,38.52705,2.857010,80.47491,3.183102,44.21381,3.210339

In [7]:
pd_stars = pd.read_csv("../gaia_stars.csv")

In [8]:
pd_stars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   source_id        100000 non-null  int64
 1   parallax         100000 non-null  float64
 2   distance_pc      100000 non-null  float64
 3   phot_g_mean_mag  100000 non-null  float64
 4   bp_rp            100000 non-null  float64
 5   teff_gspphot     100000 non-null  float64
 6   radius_gspphot   100000 non-null  float64
 7   mass_flame       44676 non-null   float64
 8   lum_flame        100000 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 6.9 MB

In [9]:
pd_stars.columns

Index(['source_id', 'parallax', 'distance_pc', 'phot_g_mean_mag', 'bp_rp',
       'teff_gspphot', 'radius_gspphot', 'mass_flame', 'lum_flame'],
      dtype='object')

In [11]:
display(pd_stars.head(15))

,source_id,parallax,distance_pc,phot_g_mean_mag,bp_rp,teff_gspphot,radius_gspphot,mass_flame,lum_flame
0,2851858288640,2.676207,373.663226,12.356248,0.810369,5819.5605,1.1008,0.990828,1.291883
1,11510512362368,6.119356,163.415879,17.598793,3.118767,3176.7964,0.2994,NaN,0.007909
2,45629732576640,3.504228,285.369526,17.503365,2.591631,3475.7651,0.3850,NaN,0.020757
3,50719269615744,2.963312,337.460251,16.676012,2.193913,3786.2925,0.5261,0.543799,0.051010
4,70819716552064,2.332890,428.652853,17.325870,2.413216,3557.0250,0.5352,NaN,0.048452
5,88819923774720,2.166282,461.620497,17.995514,2.080250,3379.7173,0.3465,NaN,0.020946
6,111600430543872,2.460387,406.440191,18.175850,2.601334,3377.9531,0.3629,NaN,0.020988
7,130193344404096,5.913202,169.113115,15.039726,2.309699,3627.2358,0.6580,0.551084,0.055925
8,132667245587072,5.737754,174.284227,7.475046,1.252862,4929.7330,7.8383,2.803369,33.127800
9,146475564682496,2.391471,418.152724,17.491417,2.325003,3447.9915,0.4017,NaN,0.031979
10,154721901916928,3.007398,332.513319,16.659190,2.273769,3664.4695,0.5766,0.538926,0.048420
11,173619758246528,4.028691,248.219592,13.140966,1.072167,5112.3890,0.6972,NaN,0.298617
12,184546154871936,3.165298,315.926002,18.005142,2.846495,3471.4402,0.9571,NaN,0.015915
13,188020783957632,8.745789,114.340737,14.104657,2.123997,3792.7440,0.5479,NaN,0.056532
14,227637562247424,3.308448,302.256514,17.870440,2.738815,3406.1985,0.3719,NaN,0.017136